.ltap {
    article {
        background-color: var(--article-background);
        color: var(--article-color);
        padding: 1.5rem;
        border-radius: 7px;
        box-shadow: 0.3rem 0.3rem 0 var(--article-boxshadow-color);
        margin-bottom: 2rem;

        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            border-radius: 7px;
            margin-bottom: 1rem;
            border: 5px solid var(--img-border-color);
        }

        ul {
            list-style-type: disc;
            padding-left: 2%;

            li {
                margin: 10px 0px;
                line-height: 1.5;
            }
        }

        .btn_section {
            background-color: var(--btn-section-background) !important;

            &:hover {
                background-color: var(--btn-section-background-hover) !important;
            }
        } 
    }
}

@media screen and (max-width: 1285px) { 
    .ltap article {
        margin-top: 1.5rem;
    }
}
