.langSelector {
    position: relative;
    display: inline-block;

    .selectorButton {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: auto;
        }
    }

    .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--dropdown-background);
        z-index: 999;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        margin-top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        transform: translateY(-10px);
        border: 3px solid var(--dropdown-border-color);

        &.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .close_language_menu {
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 20px;
            font-family: "icomoon";
            color: white;
            cursor: pointer;
            padding: 10px;
            background-color: var(--nav-mobile-close-background-color);
            border-radius: 50%;
            line-height: 1;
        
            &:before {
                content: "\ea0f";
                display: inline-block;
                font-size: inherit;
            }
        }

        .option {
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            color: var(--nav-mobile-color);

            .flag {
                width: 30px;
                height: auto;
                margin-right: 10px;
            }

            span {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .option.active {
            background-color: var(--active-background);
        }
    }
}

@media screen and (max-width: 768px) {
    .langSelector {
        .dropdown {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: var(--nav-mobile-background);
            justify-content: center;
            align-items: center;
            z-index: 999;
            transition: left 0.3s ease;
            flex-direction: column;
            border: none;
            margin-top: 0;

            &.open {
                left: 0;
            }

            .close_language_menu {
                display: block;
                z-index: 1000;
            }

            .option {
                padding: 15px 0;
                margin-bottom: 20px;
                color: var(--nav-mobile-color);
                font-weight: bold;
                justify-content: center;
                width: 140px;

                .flag {
                    width: 35px;
                }

                span {
                    font-size: 18px;
                }
            }

            .option.active {
                background-color: var(--active-background);
                border-radius: 3px;
            }
        }
    }
}
