.back_button {
    position: sticky;
    top: 75px;
    left: 10px;
    z-index: 998;
    background-color: var(--btn-back-background);
    transition: opacity 0.2s ease, background-color 0.3s ease;

    &.hidden {
        opacity: 0;
        pointer-events: none; 
    }

    &:hover {
        background-color: var(--btn-back-background-hover);
    }
}

@media screen and (max-width: 1050px) { 
    .back_button {
        position: relative;
        top: 22.5px;
        left: 1.5rem;
    }
}

@media screen and (max-width: 768px) { 
    .back_button {
        position: relative;
        top: 25px;
        left: 1rem;
    }
}
